.imagehome{
    border-radius: 30px;
}
.homeFlex{
    justify-content: center;
    display: flex;
    
}
.input-group-text {
    
    color: white;
    text-align: center;
   
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 0.25rem;
}
.card-body {
    min-height: 170px;
   padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardHome{
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    background-color: white;
    box-shadow: 1px 1px 1px #dfdfdf;
    width: 100% !important;
    max-width: 350px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2287b6;
}
.nav-pills .nav-link {
    color: gray;
}
 
.homeContainer{
    margin-top: 250px;
    margin-bottom:250px ;
    height: 100%;
    text-align: center;
}
@media only screen and (max-width: 991px) {
   
    .homeContainer{
        margin-top: 40px;
    }
} 
.textReadMore{
    display: flex;
    justify-content: space-between;
}
.dividerContainer{
    border-bottom: 1px solid #e7e5e5;
    z-index: 5555;
    width: 90%;
 
}
.dividerCntrlContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    height: 2px;
    margin-top: 10px;
}
.carousel-indicators [data-bs-target] {
    
    width: 10px !important;
    height: 11px !important;
    
    border-radius: 50% !important;
}
.secondslide{
    color: black}